<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ol-comfy view</title>
    <script type="module" crossorigin src="/ol-comfy/assets/examples/view/index.html-DNrY81rL.js"></script>
    <link rel="modulepreload" crossorigin href="/ol-comfy/assets/overlay-layer-group-BfY9vUif.js">
    <link rel="modulepreload" crossorigin href="/ol-comfy/assets/store-manager-Co3Dgiy_.js">
    <link rel="modulepreload" crossorigin href="/ol-comfy/assets/Vector-B4qeoSRe.js">
    <link rel="modulepreload" crossorigin href="/ol-comfy/assets/LineString-MY1gkKNK.js">
    <link rel="stylesheet" crossorigin href="/ol-comfy/assets/overlay-layer-group-CiZEbZGh.css">
    <link rel="stylesheet" crossorigin href="/ol-comfy/assets/index-B929VPuq.css">
  </head>
  <body>
    <p id="common-links" data-page-path="classes/view_view.View"></p>
    <p>Example about using ol-comfy view and center to features.</p>
    <div class="container">
      <div id="map"></div>
      <div class="controls">
        <button title="Zoom in" class="zoom-in">+</button>
        <button title="Zoom out" class="zoom-out">-</button>
        <button title="Fit features" class="fit">Fit</button>
        <button title="Focus" class="focus">&#8631;</button>
      </div>
    </div>
  </body>
</html>
